.p-partner{
	background: #000 url(../image/partner/partner_bg.png) center center no-repeat;
	text-align: center;
}
.p-partner h1 {
	color: #fff;
}

.p-partner ul{
	width: 1202px;
	margin: 0 auto;
}
.p-partner li{
	float: left;
	width: 202px;
	text-align: center;
	margin-left: 131px;
	margin-top: 50px;
	p{
		font-size: 20px;
		color: #ffffff;
		padding-top: 30px;
	}
}
.p-partner  li:nth-child(4n+1){
	margin-left: 0px;
}
