#page-1 {
	background-color: #000;
}
.p1-banner{background-color: #000;width: 100%; height: 100%;position: absolute; top: 0; left: 0}
.p1-banner img{width: 100%;}
.p1-module-wrapper{width: 1000px;margin: 0 auto;}

/* 1.1 */
.p1-slider{width: 100%;position: relative;height: 100%}
.p1-slider .items{width: 100%;height: 100%;position: relative;}
.p1-slider .item{width: 100%;height: 100%;position: absolute;top: 0;left: 0;display: none;}
.p1-slider .item img{width: 100%;height: 100%;}
.p1-slider .ctrl{position: absolute;height: 100%;width: 100px;background-color: #ddd; top: 0;display: block;}
.p1-slider .prev{left: 100px; background: url(../image/l.png) center center no-repeat;}
.p1-slider .next{right: 100px; background: url(../image/r.png) center center no-repeat;}